.team-cards {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 100%;
    margin: auto;
}
 

#adminprofile{
    background-color: rgb(243, 240, 236);

.contact-card {
    height:300px;
    width: 800px;
    margin: auto;

 
}